@use "variables" as *;

// Header
body > header {
  text-align: center;
  padding: 2em 0;
  
  .header-title {
    font-size: 2em;
    letter-spacing: 12px;
    margin-bottom: 0.5em;
    
    a {
      color: $text-color;
      
      &:hover {
        color: #3a8acc;
      }
    }
  }
  
  .header-subtitle {
    font-size: 1em;
    letter-spacing: 4px;
    color: #3a8acc;
  }
}

// Navigation
body > nav {
  background: $background;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  font-size: 20px;
  padding: 0.35em 0;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
  
  a {
    color: #9e9e9e;
    
    &:hover {
      color: #3090e0;
    }
  }
}

// Footer
body > footer {
  text-align: center;
  padding: 1em 0 3em;
  color: #bbb;
  font-size: 14px;
}

// Main Content Area
#content {
  padding: 2em 0;
}
