$white-bg: #fff;

// remove the noise.png and make all white backgrounds
html {
  background: $white-bg !important;
}
body {
  > div {
    background: $white-bg !important;
    > div {
      background: $white-bg !important;
      }
  }
}

$main-bg: $white-bg !default;
$page-bg: $white-bg !default;
$header-bg: $white-bg;
$nav-bg: $white-bg;
$nav-bg-front: $white-bg;
$nav-bg-back: $white-bg;
$sidebar-bg: $white-bg;
$footer-bg: $white-bg;
$footer-bg-front: $white-bg;
$footer-bg-back: $white-bg;

